{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='editable_messages' %}">Редактируемые сообщения</a>
    &rsaquo; <a href="{% url 'admin:editable_messages_tgmessageseries_changelist' %}">Сообщения бота</a>
    &rsaquo; Результаты импорта
  </div>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <style>
    .errors {
      color: red;
    }
  </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}
{% block content %}
<h1>Результат загрузки сообщений бота</h1>
<h2>{{ summary }}</h2>
<h2 class="errors">{{ errors }}</h2>
<table>
  <tr>
    <th>ПРОСТРАНСТВО ИМЕН</th>
    <th>НАЗВАНИЕ</th>
    <th>ЯЗЫК</th>
    <th>РЕЗУЛЬТАТ ЗАГРУЗКИ</th>
    <th>ССЫЛКА</th>
  </tr>
  {% for series_card in upload_log %}
    <tr>
      <td>{{ series_card.namespace }}</td>
      <td>{{ series_card.name }}</td>
      <td>{{ series_card.language_code }}</td>
      <td>{{ series_card.processing_result }}</td>
      <td><a href="{% url 'admin:editable_messages_tgmessageseries_change' series_card.pk %}">Перейти</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}

