{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='editable_messages' %}">Редактируемые сообщения</a>
    &rsaquo; <a href="{% url 'admin:editable_messages_tgmessageseries_changelist' %}">Сообщения бота</a>
    &rsaquo; Импорт
  </div>
{% endblock %}

{% block coltype %}{% endblock %}

{% block content %}
<h1>Загрузка сообщений бота</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <p>
    <b>Файл загрузки:&nbsp</b>
    <input id="fileInput" name="fileInput" type="file" required accept=".zip">
  </p>
  <p>
    <lable for="replaceExistingMsgs"><b>Заменить сущестсвующие сообщения:&nbsp</b></lable>
    <input id="replaceExistingMsgs" name="replaceExistingMsgs" type="checkbox" value="True">
  </p>
  <p><input type="submit" class="button" value="Загрузить сообщения"></p>
</form>
{% endblock %}

