{% if troubles.missed or troubles.bad_messages %}
  <div xmlns="http://www.w3.org/1999/html"><h1 style="color: #99151c;font-weight: normal;">🔴 Обнаружены проблемы с сообщениями</h1>
    {% if troubles.bad_messages %}
      <p><a href="?status=bad">• Показать проблемные</a></p>
    {% endif %}
    {% if troubles.missed %}
      <details>
        <summary style="color: #99151c;font-weight: normal;font-size: 13px;line-height: 20px;">
          Не хватает сообщений:
        </summary>
        <ul style="color: #99151c;font-weight: normal;font-size: 13px;">
          {% for msg in troubles.missed %}
          <li>
            {{ msg.sense }} ({{ msg.language }})
            {% if msg.draft is not None %}
              <span style="background: #f0e0d0;padding:5px; padding-top: 2px;border-radius: 4px;">черновик</span>
              <a href="{{ msg.draft }}/change">доделать</a>
            {% else %}
              <a
                href="add/?namespace={{ msg.namespace }}&amp;name={{ msg.name }}&amp;language_code={{ msg.language }}">создать
              </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}
  </div>
{% else %}
  <div><h1 style="color: #99151c;font-weight: normal;">🟢 Сообщения готовы, проблем не обнаружено</h1></div>
{% endif %}
