.tg-message-template-widget {
  padding-top: 6px;
  height: 100%;
}

.tg-message-template-widget .monako-editor .toolbar {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 3px;
  padding-left: 2px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.tg-message-template-widget .monako-editor .toolbar .toolbar-group {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.tg-message-template-widget .monako-editor .toolbar .toolbar-group:first-child {
  margin-left: 12px;
}

.tg-message-template-widget .monako-editor .toolbar .toolbar-group:last-child {
  margin: 0 12px;
}

.tg-message-template-widget .monako-editor .toolbar .toolbar-group button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 3px;
  color: #222f3e;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 28px;
  justify-content: center;
  margin-right: 3px;
  overflow: hidden;
  flex-direction: row;
  background: none;
}

.tg-message-template-widget .monako-editor .toolbar .toolbar-group .free-space {
  flex-grow: 1;
}

.tg-message-template-widget .monako-editor .toolbar .toolbar-group button:hover {
  background: #cce2fa;
}

.tg-message-template-widget .monako-editor .toolbar .toolbar-group button:active {
  background: #a6ccf7;
}

.tg-message-template-widget .monako-editor {
  max-width: 40em;
  min-width: 20em;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 4px;
}
